nav{
  font-size: 35px;
}

h1{
  font-size: 70px;
}


p{
  font-size: 35px;
}

img{
  width: 50%;
  float:left;
  margin-right: 3em;
  cursor: pointer;
}





div {
  margin: 10;
  position:absolute;

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  font-family: 'Roboto', sans-serif;
}

p.small {
  font-variant: small-caps;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img-biden{
  align-items: center;


}

@media screen and (min-width: 375px) {

    nav{
      font-size: 35px;
    }

    h1{
      font-size: 70px;
    }


    p{
      font-size: 35px;
    }

    img{
      width: 50%;
      float:left;
      margin-right: 3em;
      cursor: pointer;
    }


  }
